body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050305;
}
.container {
    max-width: 800px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181718;
    color: #fff;
    padding: 30px;
    margin: 50px;
    gap: 20px;
    border-radius: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #ffc600;
    padding: 0 20px;
    border-radius: 10px;
}
.card h3 {
    color: #ffc600;
    font-size: 22px;
}
.card p {
    font-size: 18px;
}